<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AdminDashBoardFilter</filter-name>
        <filter-class>filter.AdminDashBoardFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExpertDashBoardFilter</filter-name>
        <filter-class>filter.ExpertDashBoardFilter</filter-class>
    </filter>
    <filter>
        <filter-name>VerifyFilter</filter-name>
        <filter-class>filter.VerifyFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GetPasswordFilter</filter-name>
        <filter-class>filter.GetPasswordFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GuestFilter</filter-name>
        <filter-class>filter.GuestFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filter.UserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAddQuizFilter</filter-name>
        <filter-class>filter.AdminAddQuizFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminQuizFilter</filter-name>
        <filter-class>filter.AdminQuizFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExperQuizFilter</filter-name>
        <filter-class>filter.ExperQuizFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExpertUpdateQuizFilter</filter-name>
        <filter-class>filter.ExpertUpdateQuizFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminUserFilter</filter-name>
        <filter-class>filter.AdminUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>QuizHandFilter</filter-name>
        <filter-class>filter.QuizHandFilter</filter-class>
    </filter>
    <filter>
        <filter-name>QuizReviewFilter</filter-name>
        <filter-class>filter.QuizReviewFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PracticeListFilter</filter-name>
        <filter-class>filter.PracticeListFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PracticeListFilter</filter-name>
        <servlet-name>PracticeListController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>QuizReviewFilter</filter-name>
        <servlet-name>QuizReviewController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminUserFilter</filter-name>
        <servlet-name>ManagementUserController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExpertUpdateQuizFilter</filter-name>
        <servlet-name>UpdateQuizExpertController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExperQuizFilter</filter-name>
        <servlet-name>QuizListExpertController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExperQuizFilter</filter-name>
        <servlet-name>UpdateQuizExpertController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminDashBoardFilter</filter-name>
        <servlet-name>AdminDashBoardController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminQuizFilter</filter-name>
        <servlet-name>AdminQuizController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminQuizFilter</filter-name>
        <servlet-name>AdminUpdateQuizController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAddQuizFilter</filter-name>
        <servlet-name>AdminAddQuizController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ExpertDashBoardFilter</filter-name>
        <servlet-name>ExpertDashBoardController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>QuizHandFilter</filter-name>
        <servlet-name>QuizHandleController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <servlet-name>ChangePassController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GuestFilter</filter-name>
        <servlet-name>LoginController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GuestFilter</filter-name>
        <servlet-name>RegisterController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GuestFilter</filter-name>
        <servlet-name>ForgotPasswordController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GetPasswordFilter</filter-name>
        <servlet-name>GetPasswordController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>VerifyFilter</filter-name>
        <servlet-name>VerifyCodeController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeController</servlet-name>
        <servlet-class>controller.VerifyCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>controller.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPasswordController</servlet-name>
        <servlet-class>controller.GetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeForgotController</servlet-name>
        <servlet-class>controller.VerifyCodeForgotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controller.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendCodeController</servlet-name>
        <servlet-class>controller.ResendCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizHandleController</servlet-name>
        <servlet-class>controller.QuizHandleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizReviewController</servlet-name>
        <servlet-class>controller.QuizReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizListController</servlet-name>
        <servlet-class>controller.QuizListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizLevelController</servlet-name>
        <servlet-class>controller.FilterQuizByLevelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizCategoryController</servlet-name>
        <servlet-class>controller.FilterQuizBySubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizDetailController</servlet-name>
        <servlet-class>controller.QuizDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizListExpertController</servlet-name>
        <servlet-class>controller.QuizListExpertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuizController</servlet-name>
        <servlet-class>controller.DeleteQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuizExpertController</servlet-name>
        <servlet-class>controller.AddQuizExpertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuizExpertController</servlet-name>
        <servlet-class>controller.UpdateQuizExpertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PracticeListController</servlet-name>
        <servlet-class>controller.PracticeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSubjectController</servlet-name>
        <servlet-class>controller.AdminSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddSubjectController</servlet-name>
        <servlet-class>controller.AdminAddSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddQuizController</servlet-name>
        <servlet-class>controller.AdminAddQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminQuizController</servlet-name>
        <servlet-class>controller.AdminQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteQuizController</servlet-name>
        <servlet-class>controller.AdminDeleteQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateQuizController</servlet-name>
        <servlet-class>controller.AdminUpdateQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerQuestion</servlet-name>
        <servlet-class>controller.ManagerQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addQuestionController</servlet-name>
        <servlet-class>controller.addQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteQuestionController</servlet-name>
        <servlet-class>controller.deleteQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementUserController</servlet-name>
        <servlet-class>controller.ManagementUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementUserAddController</servlet-name>
        <servlet-class>controller.ManagementUserAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inforQuestionToEditController</servlet-name>
        <servlet-class>controller.inforQuestionToEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionController</servlet-name>
        <servlet-class>controller.UpdateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuizController</servlet-name>
        <servlet-class>controller.SearchQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveUserController</servlet-name>
        <servlet-class>controller.ActiveUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUserController</servlet-name>
        <servlet-class>controller.BlockUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddQuestionController</servlet-name>
        <servlet-class>controller.AdminAddQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterQuestionByQuizIdController</servlet-name>
        <servlet-class>controller.FilterQuestionByQuizIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagermentQuestionAdminController</servlet-name>
        <servlet-class>controller.ManagermentQuestionAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionAdminController</servlet-name>
        <servlet-class>controller.UpdateQuestionAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteQuestionAdminController</servlet-name>
        <servlet-class>controller.deleteQuestionAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inforQuestionOfExpertController</servlet-name>
        <servlet-class>controller.inforQuestionOfExpertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchQuestionController</servlet-name>
        <servlet-class>controller.searchQuestionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResendCodeController</servlet-name>
        <url-pattern>/resend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPasswordController</servlet-name>
        <url-pattern>/GetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeForgotController</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizReviewController</servlet-name>
        <url-pattern>/quizReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizHandleController</servlet-name>
        <url-pattern>/QuizHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizListController</servlet-name>
        <url-pattern>/QuizList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizLevelController</servlet-name>
        <url-pattern>/QuizLevel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizCategoryController</servlet-name>
        <url-pattern>/QuizCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizDetailController</servlet-name>
        <url-pattern>/QuizDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizListExpertController</servlet-name>
        <url-pattern>/QuizListExpertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuizController</servlet-name>
        <url-pattern>/DeleteQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuizExpertController</servlet-name>
        <url-pattern>/AddQuizExpertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuizExpertController</servlet-name>
        <url-pattern>/UpdateQuizExpertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PracticeListController</servlet-name>
        <url-pattern>/practiceList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSubjectController</servlet-name>
        <url-pattern>/AdminSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddSubjectController</servlet-name>
        <url-pattern>/AdminAddSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddQuizController</servlet-name>
        <url-pattern>/AdminAddQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminQuizController</servlet-name>
        <url-pattern>/AdminQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteQuizController</servlet-name>
        <url-pattern>/AdminDeleteQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateQuizController</servlet-name>
        <url-pattern>/AdminUpdateQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerQuestion</servlet-name>
        <url-pattern>/ManagerQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addQuestionController</servlet-name>
        <url-pattern>/addQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteQuestionController</servlet-name>
        <url-pattern>/deleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementUserController</servlet-name>
        <url-pattern>/managementUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementUserAddController</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inforQuestionToEditController</servlet-name>
        <url-pattern>/inforQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionController</servlet-name>
        <url-pattern>/UpdateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuizController</servlet-name>
        <url-pattern>/SearchQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveUserController</servlet-name>
        <url-pattern>/activeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUserController</servlet-name>
        <url-pattern>/blockUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddQuestionController</servlet-name>
        <url-pattern>/AdminAddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterQuestionByQuizIdController</servlet-name>
        <url-pattern>/FilterQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagermentQuestionAdminController</servlet-name>
        <url-pattern>/ManagermentQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionAdminController</servlet-name>
        <url-pattern>/UpdateQuestionAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteQuestionAdminController</servlet-name>
        <url-pattern>/deleteQuestionAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inforQuestionOfExpertController</servlet-name>
        <url-pattern>/inforQuestionOfExpert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchQuestionController</servlet-name>
        <url-pattern>/searchQuestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
