USE [master]
GO
/****** Object:  Database [QuizPracticeSystem]    Script Date: 7/18/2022 9:34:27 PM ******/
CREATE DATABASE [QuizPracticeSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizPracticeSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuizPracticeSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuizPracticeSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuizPracticeSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizPracticeSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizPracticeSystem]
GO
/****** Object:  Table [dbo].[Option]    Script Date: 7/18/2022 9:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Option](
	[optionId] [int] IDENTITY(1,1) NOT NULL,
	[questionId] [int] NULL,
	[content] [nvarchar](4000) NULL,
	[isCorrect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[optionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 7/18/2022 9:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[questionId] [int] IDENTITY(1,1) NOT NULL,
	[quizId] [int] NULL,
	[content] [nvarchar](4000) NULL,
	[media] [nvarchar](256) NULL,
	[explanation] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[questionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 7/18/2022 9:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[quizId] [int] IDENTITY(1,1) NOT NULL,
	[quizName] [nvarchar](256) NULL,
	[ownerId] [int] NULL,
	[thumbnail] [nvarchar](256) NULL,
	[quizDuration] [time](7) NULL,
	[numberQuestion] [int] NULL,
	[subjectId] [int] NULL,
	[quizLevelId] [int] NULL,
	[description] [nvarchar](4000) NULL,
	[dateCreated] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[quizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizLevel]    Script Date: 7/18/2022 9:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizLevel](
	[quizLevelId] [int] IDENTITY(1,1) NOT NULL,
	[quizLevelName] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[quizLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizResult]    Script Date: 7/18/2022 9:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizResult](
	[quizResultId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[quizId] [int] NULL,
	[score] [float] NULL,
	[time] [time](7) NULL,
	[submitAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[quizResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 7/18/2022 9:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[statusId] [int] IDENTITY(1,1) NOT NULL,
	[statusName] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[statusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentWork]    Script Date: 7/18/2022 9:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentWork](
	[studentWorkId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[quizResultId] [int] NULL,
	[questionId] [int] NULL,
	[optionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[studentWorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/18/2022 9:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subjectId] [int] IDENTITY(1,1) NOT NULL,
	[subjectName] [nvarchar](256) NULL,
	[thumbnail] [nvarchar](256) NULL,
	[description] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[subjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/18/2022 9:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](256) NULL,
	[email] [nvarchar](256) NULL,
	[password] [nvarchar](256) NULL,
	[avatar] [nvarchar](256) NULL,
	[gender] [bit] NULL,
	[dob] [date] NULL,
	[roleId] [int] NULL,
	[status] [int] NULL,
	[code] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 7/18/2022 9:34:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Option] ON 

INSERT [dbo].[Option] ([optionId], [questionId], [content], [isCorrect]) VALUES (2, 3, N'Steve Jobs', 0)
INSERT [dbo].[Option] ([optionId], [questionId], [content], [isCorrect]) VALUES (3, 3, N'James Gosling', 0)
INSERT [dbo].[Option] ([optionId], [questionId], [content], [isCorrect]) VALUES (4, 3, N' Dennis Ritchie', 1)
GO
SET IDENTITY_INSERT [dbo].[Option] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([questionId], [quizId], [content], [media], [explanation]) VALUES (3, 1, N'Who is the father of C language?', NULL, N'Dennis Ritchie is the father of C Programming Language. C programming language was developed in 1972 at American Telephone & Telegraph Bell Laboratories of USA.')
INSERT [dbo].[Question] ([questionId], [quizId], [content], [media], [explanation]) VALUES (4, 1, N'Which of the following is not a valid C variable name?', NULL, N'Since only underscore and no other special character is allowed in a variable name, it results in an error.')
INSERT [dbo].[Question] ([questionId], [quizId], [content], [media], [explanation]) VALUES (5, 1, N'All keywords in C are in ____________', NULL, N'None.')
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON 

INSERT [dbo].[Quiz] ([quizId], [quizName], [ownerId], [thumbnail], [quizDuration], [numberQuestion], [subjectId], [quizLevelId], [description], [dateCreated]) VALUES (1, N'C Programming Basics', 3, NULL, CAST(N'00:05:00' AS Time), 10, 5, 1, N'C Programming MCQ (Multiple Choice Questions)', CAST(N'2022-06-01' AS Date))
INSERT [dbo].[Quiz] ([quizId], [quizName], [ownerId], [thumbnail], [quizDuration], [numberQuestion], [subjectId], [quizLevelId], [description], [dateCreated]) VALUES (2, N'Java oops Concepts', 3, NULL, CAST(N'00:05:00' AS Time), 10, 6, 1, N'OOPS MCQ', CAST(N'2022-06-01' AS Date))
INSERT [dbo].[Quiz] ([quizId], [quizName], [ownerId], [thumbnail], [quizDuration], [numberQuestion], [subjectId], [quizLevelId], [description], [dateCreated]) VALUES (3, N'World Geography', 4, NULL, CAST(N'00:03:00' AS Time), 5, 2, 2, N'World Geography Multiple Choice Questions (MCQs) Quiz for State and UPSC Civil Services Examinations. Objective Questions on Physical Geography and World Geography for competitive examinations.', CAST(N'2022-06-02' AS Date))
SET IDENTITY_INSERT [dbo].[Quiz] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizLevel] ON 

INSERT [dbo].[QuizLevel] ([quizLevelId], [quizLevelName]) VALUES (1, N'Easy')
INSERT [dbo].[QuizLevel] ([quizLevelId], [quizLevelName]) VALUES (2, N'Medium')
INSERT [dbo].[QuizLevel] ([quizLevelId], [quizLevelName]) VALUES (3, N'Hard')
SET IDENTITY_INSERT [dbo].[QuizLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizResult] ON 

INSERT [dbo].[QuizResult] ([quizResultId], [userId], [quizId], [score], [time], [submitAt]) VALUES (1, 6, 1, 50, CAST(N'00:00:20' AS Time), CAST(N'2022-06-21T13:38:05.740' AS DateTime))
INSERT [dbo].[QuizResult] ([quizResultId], [userId], [quizId], [score], [time], [submitAt]) VALUES (2, 6, 3, 0, CAST(N'00:00:20' AS Time), CAST(N'2022-06-21T21:21:26.107' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuizResult] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([statusId], [statusName]) VALUES (1, N'Active')
INSERT [dbo].[Status] ([statusId], [statusName]) VALUES (2, N'Not Active')
INSERT [dbo].[Status] ([statusId], [statusName]) VALUES (3, N'Block')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentWork] ON 

INSERT [dbo].[StudentWork] ([studentWorkId], [userId], [quizResultId], [questionId], [optionId]) VALUES (1, 6, 1, 3, 4)
INSERT [dbo].[StudentWork] ([studentWorkId], [userId], [quizResultId], [questionId], [optionId]) VALUES (2, 6, 1, 4, 10)
INSERT [dbo].[StudentWork] ([studentWorkId], [userId], [quizResultId], [questionId], [optionId]) VALUES (3, 6, 1, 5, 12)
SET IDENTITY_INSERT [dbo].[StudentWork] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([subjectId], [subjectName], [thumbnail], [description]) VALUES (1, N'History', NULL, NULL)
INSERT [dbo].[Subject] ([subjectId], [subjectName], [thumbnail], [description]) VALUES (2, N'Geography', NULL, NULL)
INSERT [dbo].[Subject] ([subjectId], [subjectName], [thumbnail], [description]) VALUES (3, N'Japanese', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userId], [userName], [email], [password], [avatar], [gender], [dob], [roleId], [status], [code]) VALUES (1, N'DatNT', N'datnthe153704@fpt.edu.vn', N'123456dat', NULL, 1, CAST(N'2001-01-01' AS Date), 1, 1, NULL)
INSERT [dbo].[User] ([userId], [userName], [email], [password], [avatar], [gender], [dob], [roleId], [status], [code]) VALUES (2, N'HuyNQ', N'huynqhe153639@fpt.edu.vn', N'123456huy', NULL, 1, CAST(N'2001-02-02' AS Date), 1, 1, NULL)
INSERT [dbo].[User] ([userId], [userName], [email], [password], [avatar], [gender], [dob], [roleId], [status], [code]) VALUES (3, N'HungNL', N'hungnlhe153107@fpt.edu.vn', N'123456hung', NULL, 1, CAST(N'2001-03-03' AS Date), 2, 1, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([roleId], [roleName]) VALUES (1, N'Admin')
INSERT [dbo].[UserRole] ([roleId], [roleName]) VALUES (2, N'Expert')
INSERT [dbo].[UserRole] ([roleId], [roleName]) VALUES (3, N'Student')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
ALTER TABLE [dbo].[Option]  WITH CHECK ADD FOREIGN KEY([questionId])
REFERENCES [dbo].[Question] ([questionId])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([quizId])
REFERENCES [dbo].[Quiz] ([quizId])
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD FOREIGN KEY([ownerId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD FOREIGN KEY([quizLevelId])
REFERENCES [dbo].[QuizLevel] ([quizLevelId])
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([subjectId])
GO
ALTER TABLE [dbo].[QuizResult]  WITH CHECK ADD FOREIGN KEY([quizId])
REFERENCES [dbo].[Quiz] ([quizId])
GO
ALTER TABLE [dbo].[QuizResult]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[StudentWork]  WITH CHECK ADD FOREIGN KEY([optionId])
REFERENCES [dbo].[Option] ([optionId])
GO
ALTER TABLE [dbo].[StudentWork]  WITH CHECK ADD FOREIGN KEY([questionId])
REFERENCES [dbo].[Question] ([questionId])
GO
ALTER TABLE [dbo].[StudentWork]  WITH CHECK ADD FOREIGN KEY([quizResultId])
REFERENCES [dbo].[QuizResult] ([quizResultId])
GO
ALTER TABLE [dbo].[StudentWork]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[UserRole] ([roleId])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([status])
REFERENCES [dbo].[Status] ([statusId])
GO
USE [master]
GO
